body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(174, 172, 172);
}

svg {
    background-color: rgb(190, 141, 235);
}

#tooltip {
    visibility: hidden;
    width: auto;
    height: auto;
}